.btn-custom {
  background-color: #ff7a00;
  color: #000;
  /* border: 2px #000 solid; */
  border: none;
}

.btn-custom:hover {
  background-color: #964900;
  /* border: 2px solid transparent; */
  border: none;
}

.btn-custom-volver {
  background-color: #ffffff;
  color: #000;
  border: none;
}

.btn-custom-volver:hover {
  background-color: #000;
  color: #fff;
  border: none;
}